/* This is the CSS page for the Calendar Tab of the Journey website. 
The purpose of this file is to input proper formating for efficient use of the 
Calendar page. */
/*Syling the format of the page*/

 body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
 body {
    background-color: #f0f0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style the header */
 header {
    background-color: #404F24;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the navigation menu */
 nav { 
     background-color: #668D3C;
    color: #fff;
    padding: 10px;
 } 
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; 
} 

/* New container for a smaller, more interactive calendar */
.container {
    display: grid;
    max-width: 100%;
} 

/* Header for the month */
.month {
    padding: 20px 15px;
    background: center;
    text-align: center;
    background-color: #BDD09F;
    position: relative;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
     color: black; 
     font-size: 20px;
     text-transform: uppercase;
     letter-spacing: 3px;
    list-style-type: none;
}

.navi {
    background-color:#668D3C;
}

.navi:hover {
    color: #404F24;
    background-color: #BDD09F;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #668D3C;
    position: relative;
}

.weekdays li {
    display:inline-table;
    color: white;
    width: 12.8%;
    text-align: center;
}

.calendar-dates {
    padding: 10px 0;
    background: #BDD09F;
    margin: 0;
    position: relative;
}

.calendar-dates li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    width: 12.8%;
    margin-bottom: 5px;
    font-size: 12px;
    color: black;
}

.dates li {
    font-size:16px;
    margin-left: 2px;
    margin-bottom: 104px;
    gap: 10px;
    max-height: max-content;
}

.collapsible {
    cursor: pointer;
    background-color: #BDD09F;
}

.active, .collapsible:hover {
    background-color:#668D3C;
}

.RemAEvents {
    text-align: start;
    background-color: #668D3C;
    padding:18px;
    border-width: 2px;
    border-style:solid;
    border-color: #404F24;
    position:relative;
    display:hidden;
}

.description {
    border-style: double;
}
/* Style the footer */
footer {
    background-color: #404F24;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: relative;
}


