/*styling the main body of the page*/
body {
    background-color: aliceblue;
}
h1 {
    color: whitesmoke;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

calendar {

}