/* Reset some default styles to ensure consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
body {
    background-color: #f8f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style the header */
header {
    background-color: #404F24; 
    color: #f8f4f4;
    text-align: center;
    padding: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:#f8f4f4
}
h2{
    color:#f8f4f4
}
/* Style the navigation menu */
nav {
    background-color: #668D3C; 
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f8f4f4;
}

/* Style the main content area */
main {
    padding: 20px;
}

section {
    background-color: #f8f4f4;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: #404F24;
    border: 3px solid;;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #f8f4f4;
    text-align: center;
    padding: 10px;
}

form {
    margin: 0 auto;
    width: 70%;
    padding: 1em;   
    background: #BDD09F;
    border-radius: 1em;
}

.form-input {
    margin: 0 auto;
    border-radius: 10%;
    border-color: #f9f6f6;
    /* width: 70%; */
}

.form-input:focus {
    background: #BDD09F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#content{
    width: 70%;
    height: 250px;
    border-radius: 5%;
}

.form-input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.label-heading {
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    margin-top: 2%;
    width: 20%;
    height: 10%;
    border-radius: 10%;
    border-color: #f8f4f4;
    display: inline-block;
    background-color: #f8f4f4;
    color: #060606;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   

#journal-entry {
    text-align: center;
    background-color: #BDD09F;
    padding: 20px;
    width: 50%;
    border: 1px solid #ccc;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.journal-entry-title {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.journal-entry-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: #404F24;
    color: #f8f4f4;
    text-align: center;
    padding: 10px;
    bottom:0;
    width: 100%;
    position: relative;
}

#id {
    justify-content: left;
    text-align: left;
    align-items: first baseline;
}

#journal-entry-form {
    justify-content: center;
     align-items: center;
    text-align: center;
    /*margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #BDD09F;
    padding: 20px;
    border: 1px solid #ccc;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

#title {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 70%;
}

