/* Reset some default styles to ensure consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    color:#404F24;
}

h3{
    text-align: center; 

}

/* Set a background color for the entire page */
body {
    background-color: #f8f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style the header */
header {
    background-color: #404F24;
    color: #f8f4f4;
    text-align: center;
    padding: 20px;
}

/* Style the navigation menu */
nav {
    background-color: #668D3C;
    color: #f8f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f8f4f4;
}

/* Style the main content area */
main {
    padding: 20px;
}

section {
    background-color: #f8f4f4;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style the footer */
footer {
    background-color: #404F24;
    color: #f8f4f4;
    text-align: center;
    padding: 10px;
    bottom:0;
    width: 100%;
    postions: absolute;
}


