/* Reset some default styles to ensure consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #404F24;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style the navigation menu */
nav { 
    background-color: #668D3C;
   padding: 10px;
   font-family: Georgia, 'Times New Roman', Times, serif
} 
nav ul {
   list-style-type: none;
}

nav ul li {
   display: inline;
   margin-right: 20px;
}

nav a {
   text-decoration: none;
   color: #fff; 
} 

/* Style drop down boxes */
section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #404F24;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: relative;
}

.collapsible {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .active, .collapsible:hover {
    background-color: #BDD09F;
  }
  .collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }
  
  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #f9f6f6;
  }