<!DOCTYPE html>
<html>
<head>
    <title>About The Journey</title> 
    <link rel=" stylesheet"  href="about.css">
</head>

<body>
    <header>
        <% if (typeof username !== 'undefined') { %>
            <div class="header">
                <h1 class="title">About The Journey</h1>
                <img src="/images/noprofilephoto.jpg" alt="Profile Photo" class="profile-photo">
                <div class="username-dropdown">
                    <span class="profile-name"><%= username %></span>
                    <div class="dropdown-content">
                        <p><a href="/user">Profile</a></p>
    
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="header">
            <p><a href="/login">Login</a></p>
            </div>
        <% } %>
    </header>
    <nav>
        <ul>
            <li><a href="/main">Home</a></li> 
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/calender">Calendar</a></li>
            <li><a href="/journal">Journal</a></li>
    
        </ul>
    </nav>
    <style>
        body{
            background-image: url('images/Background.jpg');
        }
    </style>
<center>
<main>
    
    <section>
        <pre>
            The website The Journey is all about taking care of one's mental health through self-care. Self-care is taking the time to do things that help you live well and improve your physical and 
        mental health. The Journey provides the space to establish and track your mood and practice mindfulness through journaling and planning your goals. Depending on your specific mood, 
        the Journey provides local resources in Boone, North Carolina. The Journey is made for any and everyone with a focus on the Boone community. 
        </pre>
    <hr>
    <em><pre>   Continue your self-care journey here. </pre> </em>
    <hr>
    <pre>   Created by Tayo Olofintuyi, Crystal Wright, Christiana Wright, Kayla Spruill</pre>
    
    </section>
   
</main>
 </center>
</body>

<footer>
    <p>&copy; 2023 The Journey. All rights reserved.</p>
    <p>Contact here</p>
</footer>

</html>


