<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="/calendar.css">
    <style>
        body {
            background-image: url('images/Background.jpg');
        }
        .active { background-color: yellow; }
        .inactive { color: gray; }
    </style>
</head>
<body>
    <header>
        <h1>Calendar</h1>
        <% if (typeof username !== 'undefined') { %>
            <div class="header">
                <p>Welcome, <%= username %>!</p>
            </div>
        <% } else { %>
            <div class="header">
                <p><a href="/login">Login</a></p>
            </div>
        <% } %>
    </header>

    <nav>
        <ul>
            <li><a href="/main">Home</a></li> 
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/journal">Journal</a></li>
        </ul>
    </nav>

    <div class="container">
        <table id="calendar">
            <thead>
                <tr class="month-name"></tr>
                <tr id="days">
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody class="month-dates"></tbody>
        </table>
    </div>

    <footer>
        <p>&copy; 2023 The Journey. All rights reserved.</p>
        <p>Contacts</p>
    </footer>

    <script src="/calendar.js"></script> <!-- Correct path for JavaScript -->
</body>
</html>
