<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="notify.css">
    <title>Login</title>
    <script src="notification.js"></script>
</head>
<body>
    <div class="center">
        <h1>The Journey</h1>
    </div>
    <div class="login-box">
        <div class="login-header">
            <header>Login</header>
        </div>
        <form action="/login" method="post" id="login-form">
            <div class="input-box">
                <input type="text" id="username" name="username" class="input-field" placeholder="Username" autocomplete="off" required>
            </div>
            <div class="input-box">
                <input type="password" id="password" name="password" class="input-field" placeholder="Password" autocomplete="off" required>
            </div>
            <div class="forgot">
                <section>
                    <input type="checkbox" id="check">
                    <label for="check">Remember me</label>
                </section>
                <section>
                    <a href="/signup">Forgot password</a>
                </section>
            </div>
            <div class="input-submit">
                <button type="submit" class="submit-btn" >Sign In</button>
            </div>
        </form>
        <br>
        <div class="sign-up-link">
            <p>Don't have account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>
</body>
<script>
    document.getElementById("login-form").addEventListener("submit", (e) => {
        e.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({username, password}) 
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.href = data.redirect;
            } else {
                const errMessage = data.error || "An unknown error has occured. Please try again"
                showPopup(errMessage, 'error');
                console.log('error: ', errMessage);
            }
        })
        .catch(error => {
            console.error("Login eror:", error);
            showPopup("An error occured, please try again.", 'error');
        });
          document.getElementById("username").value = "";
          document.getElementById("password").value = "";
    });
</script>
</html>