<!DOCTYPE html>
<html>
<head>
    <title>About The Journey</title> 
    <link rel=" stylesheet"  href="about.css">
</head>

<body>
    <header>
        <% if (typeof username !== 'undefined') { %>
            <div class="header">
                <h1>Welcome Back, <%= username %>!</h1>
            </div>
        <% } else { %>
            <div class="header">
            <p><a href="/login">Login</a></p>
            </div>
        <% } %>
    </header>
    <nav>
        <ul>
            <li><a href="/main">Home</a></li> 
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/calender">Calendar</a></li>
            <li><a href="/journal">Journal</a></li>
    
        </ul>
    </nav>
    <style>
        body{
            background-image: url('images/Background.jpg');
        }
    </style>
<main>
   
</main>
</body>

<footer>
    <p>&copy; 2023 The Journey. All rights reserved.</p>
    <p>Contact here</p>
</footer>

</html>


