/*This was taken from the calender page to test layout for the about page*/
/*Syling the format of the page*/

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
 body {
    background-color: #f8f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style the header */
header {
    background-color: #404F24; 
    color: #f8f4f4;
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

.header {
    background-color: #404F24;
    color: #ffff;
    padding: 10px;
    text-align: right;
    font-size: 1.0em;
}

/* Style the navigation menu */
 nav { 
     background-color: #668D3C;
    color: #f8f4f4;
    padding: 10px;
 } 
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f8f4f4; 
} 
body {
    background-color: #f0f0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Style the header */
header {
    background-color: #404F24;
    color: #fff;
    text-align: center;
    padding: 20px;

}
/* Style the navigation menu */
nav { 
    background-color: #668D3C;
   color: #f8f4f4;
   padding: 10px;
} 
nav ul {
   list-style-type: none;
}

nav ul li {
   display: inline;
   margin-right: 20px;
}

nav a {
   text-decoration: none;
   color: #f8f4f4; 
} 

h1 {
    background-color: #404F24;
    color: #f8f4f4;
    text-align: center;
    padding: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

pre {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
    background-color: #404F24;
    color: #f8f4f4;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

section {
    background-color: #f8f4f4;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}