/* This is the CSS page for the Calendar Tab of the Journey website. 
The purpose of this file is to input proper formatting for efficient use of the Calendar page. */

/* Reset margins and paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the entire page */
html, body {
    background-color: #f8f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('images/Background.jpg');
    overflow: auto;
    height: auto;;
}

body {
    margin: 0;
    padding:0;
    display: block;
}
/* Active and inactive styles */
.active {
    background-color:#668D3C; /* Change to a visible color */
    border-style: groove;
    border-color:#BDD09F;
    box-shadow: 0 0 10px #404F24;
}

.inactive {
    color: gray;
}

hr {
    color:#BDD09F;
    box-shadow: 1px 1px 1px black;
}

fieldset {
    text-align: center;
}

label, input {
    width: 100%;
}
/* Header styles */
header {
    background-color: #404F24;
    color: #f8f4f4;
    text-align: center;
    padding: 20px;
}

.header {
    background-color: #404F24;
    color: #fff;
    padding: 10px;
    text-align: right;
    font-size: 1.0em;
}

/* Navigation menu styles */
nav { 
    background-color: #668D3C;
    color: #f8f4f4;
    padding: 10px;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f8f4f4; 
}

/* Calendar container styles */
.container {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   margin: 1%;
   padding-bottom: 50px;
   min-height: 100vh;
   flex-wrap:wrap;

}

.del-button {
    background-color: white;
    box-shadow: 1px 2px 1px #BDD09F;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}
.del-button:hover {
    background-color: #668D3C;
}


#calendar {
    width: 70%;
    background-color: #BDD09F;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-width: 3px;
    border-style: groove;
    margin-bottom: 20px;
    float: left;
}


@media(max-width:700px) {
    .container {
        flex-direction: column;
        gap: 10px
    }

    #calendar {
        width: 100%;
        margin-bottom: 20px;
    }

    aside {
        width: 100%;
    }

    th, td {
       padding: 1%;
    }

}

th, td {
    padding: 2%;
    text-align: center;
    border-width: 3px; 
    border-style: double;
    width: 14.285%;
}

th {
    background-color: #404F24;
    border: none;
    padding: 30px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

aside {
   width: fit-content;
   background-color: #668D3C;
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
   color: white;
   border-width: 3px;
   border-style: groove;
   float: right;
}

#calendar table {
    width: 100%;
    border-spacing: 0;
}

section {
    margin: 3px;
    margin-bottom: 3px;
    padding: 5px;
    color: white;
    background-color: #404F24;
    box-shadow: 0px 2px 2px white;
}
 #Cprev {
    height: 20px;
    width: 15px;
    margin-left: 5px;
 }

 #Cnext {
    height: 20px;
    width: 15px;
    margin-left: 5px;
 }

form {
    margin: 2px;
    position:relative;
    text-align: center;
}

#e-header {
    margin-bottom: 5px;
    text-align: center;
    background-color: #f8f4f4;
    color: black;
}

.event-day {
    border: 2px solid #404F24;
}


/* Footer styles */
footer {
    background-color: #404F24;
    color: #f8f4f4;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: relative;
}



