@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Reset some default styles to ensure consistency */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #404F24;
    font-family: "Arsenal SC", sans-serif;
    background-image: url('images/Background.jpg');
}

/* Style the header */
header {
    background-color: #404F24; 
    color: #f8f4f4;
    text-align: center;
    padding: 20px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    background-color: #404F24;
    color: #ffff;
    padding: 10px;
    text-align: right;
    font-size: 1.0em;
}
.float-container {
    padding: 20px;
}

.float-right {
    width: 70%;
    float: right;
    padding: 20px;

}  

.float-left {
    width: 20%;
    float: left;
    padding: 20px;
    border-radius: 5%;
    background-color: #5f6e4165;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}  

#past-entries {
    color: #f8f4f4;
    background-color: #1c29048a;
    border-radius: 10px;
    text-align: center;
}

.float-container::after {
    content: "";
    display: table;
    clear: both;
}

h1{
    color:#f8f4f4
}
h2{
    font-size: xx-large;
}
nav {
    background-color: #668D3C; 
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #f8f4f4;
}
main {
    flex: 1;
}

form {
    margin: 0 auto;
    width: 95%;
    padding: 1em;   
    border-radius: 1em;
    border: 2px solid #a7a7a775;
    background-color: #ffffffaf;

}

.form-input {
    margin: 0 auto;
    border-radius: 10px;
    border-color: #f9f6f6;
}

.form-input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.label-heading {
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-family: "Arsenal SC", sans-serif;
}

button {
    margin-top: 2%;
    width: 20%;
    height: 8%;
    border-radius: 30px;
    border-color: #f8f4f4;
    display: inline-block;
    background-color: #f8f4f4;
    color: #060606;
    font-weight: bold;
    font-family: "Arsenal SC", sans-serif;
}   

#form-title {
    color:#ffffff;
    background-color: #1c29048a;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}


#journal-entry {
    text-align: left; 
    padding: 10px;
    /*border: 2px solid #645822bb;*/
    border: 2px solid #a7a7a775;
    /* border-image: url('images/vine.png') 30 round; */
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #f8f4f4bb ;
}

.journal-entry-title {
    font-weight: bold;
    font-size: medium;
    font-family: "Arsenal SC", sans-serif;
    white-space: nowrap;
    padding: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

#editor-container {
    height: 200px;
    background-color: #ffffff;
    border: 5px solid #204916b9;
    border-radius: 20px;
}


.journal-entry-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: #1c2904;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
}

#id {
    justify-content: left;
    text-align: left;
    align-items: first baseline;
}

#journal-entry-form {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.705);
    background-color: #5f6e4165;
    padding: 20px;
    /*color:#ffff; /*text?*/
}

#title {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 70%;
}

#content {
    width: 95%;
    height: 800px;
    border-radius: 0;
}
.banner {
    width: 95%;
    height: 800px;
    border-radius: 0;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
  
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
  
.controls label {
    margin-right: 10px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    margin-right: 10px;
    margin-left: 90px;
}

.form-row input,
.form-row select {
    margin-right: 130px;
}
