/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    font-family: 'Futura';
    background-color: #f8f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
 .header {
    background-color: #404F24;
    color: #fff;
    padding: 20px;
    text-align: center;
 }
 .profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }
 .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
 }
 .username-dropdown {
    position: relative;
 }
 .username-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    min-width: 100px;
 }
 .username-dropdown:hover .dropdown-content {
    display: block;
 }
 .container {
    display: flex;
    flex-grow: 1;
 }
 nav {
    width: 400px;
    background-image: url('images/Background.jpg');
    color: #fff;
    padding: 20px;
    height: 1300px;

 }
 nav ul {
    list-style: none;
 }
 nav ul li {
    margin-bottom: 20px;
 }
 nav ul li a {
    text-decoration: none;
    color: #fff;
 }
 main {
    flex-grow: 1;
    padding: 20px;
 }
 section.welcomeSign {
    background-color: #f8f4f4;;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}
 section {
    background-color: #f8f4f4;;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
 }

 h2 {
    text-align: center;
    color: #404F24;
 }
 /* Container for side-by-side sections */
 .side-by-side-container {
    display: flex;
    gap: 20px; /* Space between sections */
    margin-bottom: 20px; /* Space below the container */
 }
 /* Style for each side-by-side section */
 .side-section {
    flex: flex-grow; /* Ensures both sections take equal width */
    background-color: #f8f4f4; /* Background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow for effect */
 }
 /* Optional: Style for heading and paragraph text */
 .side-section h2 {
    color: #404F24; /* Heading color */
    text-align: center;
 }
 .side-section p {
    text-align: center;
 }
 /* Tips Section Styling */
 .tips-section {
    background-color: #f8f4f4;
    padding: 20px;
    border-radius: 5px;
 }
 .tip {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
 }
 .tip-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
 }
 .tip-text {
    flex-grow: 1;
 }
 footer {
    background-color: #404F24;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
 } 