body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f4f4;
  font-family:  Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: #404F24; 
  color: #f8f4f4;
  text-align: center;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.header {
  background-color: #404F24;
  color: #ffff;
  padding: 10px;
  text-align: right;
  font-size: 1.0em;
}

nav {
  background-color: #668d3C;
  color: #f8f4f4;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
button{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#f8f4f4;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #f8f4f4;
}

main {
  padding: 20px;
}

section {
  background-color: #f8f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #668D3C;
  color: #f8f4f4;
  text-align: center;
  padding: 10px;
}

.collapsible {
  background-color: #eee;
  color: #668D3C;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
}

.active, .collapsible:hover {
  background-color: #BDD09F;
}
.collapsible:after {
  content: '\002B';
  font-size: 13px;
  color: #668D3C;
  float: right;
  margin-left: 7px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color: #f8f4f4;
}
footer {
  background-color: #404F24;
  color: #f8f4f4;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  position: relative;
}

.profile-section {
  display: flex;
  align-items: center;
}
.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: auto;
}
.profile-name {
  margin-right: 10px;
  margin-left: auto;
  font-weight: bold;
}

.username-dropdown {
  position: relative;
  display: inline-block;
}

.username-dropdown span {
  cursor: pointer;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  min-width: 90px;
  z-index: 1;
  font-size: 12px;
  text-align: center;
}

.username-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 8px 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.title {
  text-align: center;
}